.footer {
  position: relative;
  color: #777e90;
  padding: 38px 0 53px;
  &__content {
  }
  &__main {
    display: flex;
    gap: 70px;
  }
  &__docs {
    position: absolute;
    left: 10%;
    width: 80%;
    padding: 35px 0;
    border: 1px solid grey;
    border-left: 0;
    border-right: 0;
  }
  &__policy {
    color: grey;
    :hover {
      color: white;
    }
  }
  &__copyright {
    margin-top: 100px;
    color: white;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
  &__terms {
    margin-right: 32px;
    transition: all 0.3s ease;
    color: grey;
    :hover {
      color: white;
    }
  }

  &__subscribe {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 393px;
    height: 318px;
  }
  &__logo {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    color: white;
  }
  &__description {
    margin: 0;
    color: grey;
  }
  &__form {
    transition: all 0.3s;
    background: black;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 15px 20px;
    overflow: hidden;
    display: flex;
    button {
      position: relative;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background-color: $primaryColor;
      img {
        position: absolute;
        top: 7px;
        left: 8px;
      }
    }
    &:focus-within {
      transition: all 0.3s;
      border-color: $primaryColor;
    }
    input {
      flex-grow: 1;
      outline: none;
      border: none;
      background: transparent;
      caret-color: white;
      color: white;
    }
  }
  &__social {
    display: flex;
    gap: 20px;
    &-x,
    &-insta,
    &-in {
      transition: all 0.3s;
      :hover {
        transform: translateY(-5px);
      }
    }
  }
  &__menu {
    display: flex;
    height: 318px;
    &__items {
      gap: 15px;
      padding: 0 32px;
      display: flex;
      flex-direction: column;
      a:hover {
        color: white;
        transition: all 0.3s ease;
      }
    }
    &-title {
      color: white;
      font-size: 20px;
      font-weight: 600;
    }
    &-item {
      width: 130px;
      font-size: 18px;
      color: #777e90;
    }
  }
}

@media screen and (max-device-width: 1200px) {
  .footer__main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .footer__menu {
    gap: 10px;
    height: 200px;
  }
  .footer__menu__items {
    gap: 10px;
    height: 200px;
    margin: 0;
  }
}
