.getstarted {
  &__text {
    display: flex;
    justify-content: center;
    animation: getsarted__text_anim 0.4s linear;
    margin-top: 10px;
    h1 {
      font-size: 44px;
      font-weight: 700;
    }
  }
  &__text_animation {
  }
  &__content {
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }
  &__cards {
    display: flex;
    h3 {
      font-size: 24px;
      font-weight: 600;
    }
    h5 {
      font-size: 16px;
      font-weight: 500;
    }
    justify-content: center;
    height: 280px;
    width: 320px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid rgba(192, 204, 218, 0.6);
    border-radius: 20px 20px;
  }
}

.container {
  height: 100%;
}

@keyframes getsarted__text_anim {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
