.topcreators {
  &__text {
    h2 {
      font-size: 38px;
    }
    margin-bottom: 72px;
  }
  &__creators {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    &_animation {
    }
    &_wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 24px;
      margin-bottom: 37px;
    }
  }
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 280px;
    width: 280px;
    background-color: #3b3b3b;
    border-radius: 10px 10px;
    h3 {
      margin: 0;
      font-weight: 600;
      font-size: 26px;
    }
    img {
      animation: topcreators__card_anim 0.5s linear;
    }
    &__circle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 5px;
      align-self: self-start;
      margin: 0;
      left: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgb(48, 46, 46);
      p {
      }
    }
  }
}
@keyframes topcreators__card_anim {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
